.block {
  &.branded {
    margin: 0 0 $gutterSize;

    .l-content & {
      margin: 0;
    }

    .title-wrapper {
      background-color: $featuredLight;

      i {
        @include iconize($featuredDark, $featuredLight);
        margin: 0 -4px 0 0;
      }

      .block__title {
        font-size: $FSheading;
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        margin: 0;
        color: #ffffff;

        a {
          color: #ffffff;
        }
      }
    }

    .block__content {
      padding: $gutterSize;
    }

    &.small {
      .block__title {
        font-size: $FSextraLarge;
        padding: 5px 10px;
      }
    }

    &.border {
      border: 1px solid #f2f2f2;
    }

    &.nobg {
      background: none !important;
    }

    &.nomargin {
      margin: 0;
    }
  }
}

// Available block classes
.block {
  &.brand-teal {
    .section-news-analysis & {
      background-color: $featuredLight;
    }

    .title-wrapper {
      background-color: $featuredLight;

      i {
        background-color: $featuredDark;

        &:before {
          color: $featuredDark;
        }
      }
    }
  }

  &.brand-grey {
    .section-membership &,
    .page-node-21 &,
    .page-node-22 &,
    .page-node-23 &,
    .page-node-24 &,
    .page-node-25 &,
    .page-node-26 & {
      background-color: $membershipLight;
    }

    .title-wrapper {
      background-color: $membershipDark;

      i {
        background-color: $membershipHeader;

        &:before {
          color: $membershipDark;
        }
      }
    }

    &.border-bottom {
      border-bottom: 4px solid $membershipDark;
    }
  }

  &.brand-yellow {
    .section-resources &,
    .node-type-resource & {
      background-color: $resourcesLight;
    }

    .title-wrapper {
      background-color: $resourcesDark;

      i {
        background-color: $resourcesHeader;

        &:before {
          color: $resourcesDark;
        }
      }
    }

    &.border-bottom {
      border-bottom: 4px solid $resourcesDark;
    }
  }

  &.brand-green {
    .section-news-analysis &,
    .section-archives & {
      background-color: $newsLight;
    }

    .title-wrapper {
      background-color: $newsDark;

      i {
        background-color: $newsHeader;

        &:before {
          color: $newsDark;
        }
      }
    }

    &.border-bottom {
      border-bottom: 4px solid $newsDark;
    }
  }

  &.brand-pink {
    .section-network-events & {
      background-color: $networkLight;
    }

    .title-wrapper {
      background-color: $networkDark;

      i {
        background-color: $networkHeader;

        &:before {
          color: $networkDark;
        }
      }
    }

    &.border-bottom {
      border-bottom: 4px solid $networkDark;
    }
  }
}
