.flag-outer {
  display: inline-block;
  vertical-align: top;
  max-width: 5%;

  .flag-wrapper {
    .flag-message {
      text-align: center;
      background-color: #ffffff;
      border: 1px solid #222222;
      padding: 5px;
    }
  }

  & + .field-name-title {
    display: inline-block;
    vertical-align: top;
    max-width: 93%;
  }
}
