.block-masthead {
  @include flexreset;
  position: relative;

  .group-overlay {
    padding: $gutterSize;
    background-color: transparentize(#ffffff, 0.3);

    @include breakpoint($mobile) {
      position: absolute;
      bottom: 0;
      margin: $gutterSize;
    }

    .field-name-field-title-fc {
      font-size: $FSextraLarge;
      font-weight: $primaryFontWeightBold;
      line-height: 1.2;
      margin: 0 0 10px;

      @include breakpoint($tabSmall) {
        font-size: 1.5em;
      }
    }

    .field-name-field-body-fc {
      display: none;

      @include breakpoint(min-width 900px) {
        display: block;
      }
    }

    .group-buttons {
      text-align: right;
    }
  }
}
