.page-edit-profile {
  .column {
    @include breakpoint($tabSmall) {
      width: 50%;
      padding: 0 ($gutterSize/2) 0 0;
      float: left;

      &.column-right {
        padding: 0 0 0 ($gutterSize/2);
      }
    }
  }

  .profile-section {
    padding: $gutterSize;
    margin: 0 0 $gutterSize;
    background-color: #f2f2f2;

    &.profile-section-bottom {
      @include clearfix;
      clear: both;
      margin: 0;

      p {
        font-size: $FSdefault;
        font-weight: bold;
        float: left;
      }

      .profile-submit {
        float: right;
        margin: 8px 0;

        .button {
          display: block;
        }
      }
    }

    .form-item {
      width: 100%;

      &.form-item-half {
        float: left;
        width: 50%;
        padding: 0 ($gutterSize/2) 0 0;

        & + .form-item-half {
          padding: 0 0 0 ($gutterSize/2);
        }
      }

      label {
        font-weight: normal;
        color: $formLabel;

        @include breakpoint(max-width 386px) {
          font-size: $FSsmall;
        }
      }

      input {
        width: 100%;
        height: 42px;
        padding: 0 10px;
        border: 1px solid $inputBorder;
      }
    }

    .profile-details {
      font-size: 0.786em;
      clear: both;

      .heading {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
