<div class="page"  style="position: relative;">
  <img src="https://justcoding.com/sites/justcoding.com/files/justcodingpdflogo.png" style="position: absolute; width: 200px; top:10px;">
  <img src="https://revenuecycleadvisor.com/sites/default/files/pdf-hcpro.jpeg"style="position: absolute; right: 20px; width: 100px;">

  <div style="text-align: center; top: 25px; position: relative; font-size: 18px;font-family: sans-serif;">&copy; <script> document.write(new Date().getFullYear())</script> HCPro, a division of Simplify Compliance LLC.</div>
</div>


