@import "toolkit";
@import "variables/**/*";

.max-width {
  max-width: $siteWidth;
  margin: auto;
}

.l-site-width {
  @extend .max-width;
}

.l-header {
  @include clearfix;
  padding: 0 $gutterSize $gutterSize;

  .welcome-message {
    font-size: 0.929em;
    line-height: 0.929em;
    font-weight: $primaryFontWeightBold;
    margin: 0 0 10px;
    color: #ffffff;

    a {
      font-weight: normal;
      font-style: italic;
      text-transform: capitalize;
      color: #ffffff;
    }
  }

  .l-branding {
    float: left;
    margin: 12px 0 0;
  }

  .l-region--header {
    float: right;
  }
}

.l-navigation {
  z-index: 10;
  position: relative;
  margin: 0 0 $gutterSize;
}

.l-masthead {
  @extend .max-width;

  .l-region--masthead {
    //@include clearfix;
    margin: 0 auto 25px;
  }
}

.l-section-header {
  @extend .max-width;
  @include clearfix;
}

.l-main {
  @extend .max-width;
  @include clearfix;
  padding: $gutterSize;
  margin: 0 auto $gutterSize;

  .l-content {
    padding: 0 0 $gutterSize;
    clear: both;

    .front & {
      padding: 0;
    }

    .has-one-sidebar.has-sidebar-first & {
      @include breakpoint($tabSmall) {
        @include grid-span(9, 4);
      }
    }

    .has-one-sidebar.has-sidebar-second & {
      @include breakpoint($tabSmall) {
        @include grid-span(8.5);
      }
    }

    .has-two-sidebars & {
      @include breakpoint($tabSmall) {
        @include grid-span(9, 4);
      }

      @include breakpoint ($tab) {
        @include grid-span(5.5, 4);
      }
    }
  }

  .l-region--sidebar-first {
    @include breakpoint($tabSmall) {
      @include grid-span(3);
    }
  }

  .l-region--sidebar-second {
    .has-one-sidebar & {
      @include breakpoint($tabSmall) {
        @include grid-span(3.5, 9.5);
      }
    }

    .has-two-sidebars & {
      @include breakpoint($tabSmall) {
        @include grid-span(3);
        clear: left;
      }

      @include breakpoint($tab) {
        @include grid-span(3.5, 9.5);
      }
    }
  }

  .tabs--primary,
  .messages {
    clear: both;
  }
}

.l-content-bottom {
  clear: both;
  padding: $gutterSize 0 0;
}

.l-footer {

}
