.node {
  &.node--forum-feed {
    margin: 0 0 10px;
    padding: 0 0 10px !important;
    border-bottom: 1px solid $hr;

    .lock-icon {
      display: none;
    }

    .field-name-field-author,
    .field-name-post-date {
      font-size: $FSsmall;
      display: inline-block;
      margin: 0 10px 0 0;
      color: #cccccc;
    }
  }
}

.view-forum-feed {
  .group-buttons {
    text-align: center;
  }

  .inside & {
    .view-content {
      .views-row {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
      }
    }
  }
}
