.button {
  display: inline-block;
  margin: 0 10px 0 0;

  &:last-child {
    margin: 0;
  }

  a,
  button {
    display: block;
    padding: 5px 30px;
    color: #ffffff;
    background-color: $buttonBlack;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      color: $buttonBlack;
    }

    &.button-green {
      background-color: $buttonGreen;

      &:hover {
        background-color: #ffffff;
        color: $buttonGreen;
      }
    }

    &.button-blue {
      background-color: $buttonBlue;

      &:hover {
        background-color: #ffffff;
        color: $buttonBlue;
      }
    }

    &.button-pink {
      background-color: $networkDark;

      &:hover {
        background-color: lighten($networkDark, 10);
      }
    }

    &.button-grey {
      background-color: $membershipDark;

      &:hover {
        background-color: lighten($membershipDark, 10);
      }
    }

	&.button-orange-rounded {
	  color: $orange !important;
	  background-color: #ffffff;
	  border: 2px solid $orange;
	  border-radius: 25px;

	  &:hover {
	    background-color: $orange;
		color: #ffffff !important;
	  }
	}
  }

  &.button-caps {
    a {
      font-weight: $primaryFontWeightMed;
      text-transform: uppercase;
    }
  }
}
