body {
  font-family: $primaryFont;
  background-color: $bodyBG;
  color: $copy;
}

p {
  margin: 10px 0;
}

a {
  @include transition(all 0.3s ease);
  text-decoration: none;
  color: $articleLink;

  &:active,
  &.active,
  &:visited,
  &:focus {
    color: $articleLink;
  }

  &:hover {
    color: lighten($articleLink, 10);
  }
}

.l-header {
  padding: 12px $gutterSize $gutterSize;
  background-color: $headerBG;

  .site-logo {
    img {
      display: block;
      margin: 8px 0 0;
    }
  }
}

.l-navigation {
  background-color: $navBG;
}

.l-main {
  background-color: $contentBG;

  .main-h1 {
    font-size: $FSheading;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: $featuredDark;

    .front & {
      display: none;
    }
  }

  .main-title-wrapper {
    margin: 0 0 $gutterSize;
  }
}
